<z component="code">
  <span class="declaration">enum</span> <span class="var-name">Food</span> {
    <span class="declaration">Pizza</span>,
    <span class="declaration">Burrito</span>,
    <span class="declaration">Burger</span>,
    <span class="declaration">Salad</span>,
  }

  <span class="error"><span class="declaration">const</span> <span class="var-name">FOOD_MATCHER</span>: <i><span class="interface">Record</span>&lt;<span class="var-name">Food</span>, <span class="var-name">string</span>&gt;</i></span> = {
    <span class="declaration">[</span>Food.Pizza<span class="declaration">]</span>: <span class="string">"Pizza party"</span>,
    <span class="declaration">[</span>Food.Burrito<span class="declaration">]</span>: <span class="string">"Burritos every weekend"</span>,
    <span class="declaration">[</span>Food.Burger<span class="declaration">]</span>: <span class="string">"Double patties"</span>,
  };

</z>
