<z component="codeblock">
// Same types as above

const MATCH_MEAL: Record&lt;MealKey, Meal&gt; = {
    steak__rice: {
        chefsMessage: ""
    },
    steak__potatoes: {
        chefsMessage: ""
    },
    steak__veggies: {
        chefsMessage: ""
    },
    chicken__rice: {
        chefsMessage: ""
    },
    chicken__potatoes: {
        chefsMessage: ""
    },
    chicken__veggies: {
        chefsMessage: ""
    },
    fish__rice: {
        chefsMessage: ""
    },
    fish__potatoes: {
        chefsMessage: ""
    },
    fish__veggies: {
        chefsMessage: ""
    }
};
</z>