.cover-letter {
    p {
        font-family: "Times New Roman", Times, serif;
        font-size: 1.1em;
    }
    
    h3, h4, h5 {
        margin-bottom: 6px;
    }
    
    h5 {
        font-weight: 300;
        font-size: 1em;
        margin-top: 0;
    }
}
