.cover-letter {
    
    p, ul, li {
        font-family: "Times New Roman", Times, serif;
        font-size: 1.1em;
    }

    h1 {
        text-align: center;
        font-family: "Times New Roman", Times, serif;
    }
    
    // h2, h3, h4, h5 {
    //     margin-bottom: 2px;
    // }

    h2 {
        margin-top: 40px;
    }

    h4 {
        margin-top: 30px;
    }
    
    h5 {
        font-weight: 300;
        font-size: 1em;
        margin-top: 0;
    }

    li {
        font-size: 1em;
        margin-bottom: 0.5em;
    }

    .header-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 35px;

        &__date {
            font-size: 0.85em;
        }
    
        &__image {
            width: 30px;
            height: 30px;
            margin-right: 12px;
            vertical-align: middle;
        }

        &__title {
            margin-right: 12px;
            vertical-align: middle;
        }
    }
}
