body {
    background-color: rgb(241, 241, 241);
    margin: 0;
    font-family: "Inter", Arial, sans-serif;
    //color: $font-color;
}
  
a {
    //text-decoration: none;
    //text-decoration-line: none;
    // color: $font-color;
    color: #18768c;
    font-family: "Inter", Arial, sans-serif;
    font-size: 0.85em;
    transition: color 0.1s ease-in;

    &:visited {
        color: #18768c;
    }

    &:hover {
        color: #140429;
    }
}
  
main {
    padding: 0.8em 0.55em;
    margin: 0 auto;
    max-width: 1000px;
    margin-bottom: 30px;

    @media (max-width: 650px) {
        padding: 12px;
    }
}
