$primary-color: black;

body {
  background-color: rgb(241, 241, 241);
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  color: $primary-color;
}

a {
  text-decoration: none;
  text-decoration-line: none;
  color: $primary-color;
}

main {
  padding: 0.8em 0.55em;
  margin: 0 auto;
  max-width: 1000px;

  @media (max-width: 650px) {
    padding: 0;
  }
}

a:visited {
  color: $primary-color;
  text-decoration: none;
}
