body {
    background-color: rgb(241, 241, 241);
    margin: 0;
    font-family: "Inter", Arial, sans-serif;
    //color: $font-color;
}
  
a {
    //text-decoration: none;
    //text-decoration-line: none;
    // color: $font-color;
    color: #18768c;
}
  
main {
    padding: 0.8em 0.55em;
    margin: 0 auto;
    max-width: 1000px;
    margin-bottom: 50px;

    @media (max-width: 650px) {
        //padding: 0;
    }
}

a:visited {
    // text-decoration: none;
    color: #18768c;
}
