// Kind of reinventing the wheel where I could have used bootstrap or tailwind.

.util {
    &__mb2 {
        margin-bottom: 6px;
    }

    &__small-divider {
        width: 38px;
        background-color: black;
        height: 2px;
    }
}
