// Kind of reinventing the wheel where I could have used bootstrap or tailwind.

.util {
    &__container {
        max-width: 800px;
        margin: 0 auto;
        padding: 0;

        @media (max-width: 810px) {
            padding: 0 12px;
        }
    }

    &__mb2 {
        margin-bottom: 6px;
    }

    &__small-divider {
        width: 38px;
        background-color: black;
        height: 2px;

        .theme--dark & {
            background-color: #d2d2d2;
        }
    }
}
