@import "_global";
@import "_util";
@import "_navbar";
@import "_blog";
@import "_code";
@import "_blog-card";

.home__blog-layout {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
